R/
results/
SeMPL/
tfenv/
Teste01_numpy.ipynb
Teste02_pandas.ipynb
Teste03_tensorflow_setup.ipynb
Teste04_tensorflow_example.ipynb
convert_into_csv.ipynb
overleaf_csv.ipynb
Test feature selection.ipynb
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.local/
.nv/
.profile
.viminfo
DL_models/*
!DL_models/*.py
!DL_models/*.ipynb
*.csv
*.tex
*.txt
.ssh/
